/****************
    UTILITIES
****************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(185 20 80);
}

body {
    background-color: var(--primary-color);
}

#layout {
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.title_light {
    color: white;
    text-align: center;
    padding: 1rem;
    text-shadow: 1px 1px gray;
}


/* CARD */
.card {
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 3rem 1rem;
    box-shadow: 1px 1px 5px black;
    text-align: center;
    font-size: 1.2rem;

    & #ticket_calc {
        display: flex;
        justify-content: space-evenly;
    }

    & .km_container,
    .age_container,
    .userinfo_container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    & label {
        display: block;
    }

    & input {
        border-color: var(--primary-color);
        padding: 0.5rem;
        text-align: center;
    }

}

.card_top>h3 {
    text-align: left;
}

.card_bot {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;

    /* BUTTON */
    & button {
        padding: 0.5rem;
        color: var(--primary-color);
        background-color: lightgray;
        font-weight: bold;
        font-size: 1rem;
        border-radius: 10px;

    }
}

button {
    transition: 500ms;
}

button:hover {
    border: 2px solid orange;
}

button:active {
    background-color: rgba(128, 128, 128, 0.466);
}

/* BOX INFO SECTION */

.box {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    text-align: left;
    width: 100%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;

}

.name {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: gray;
    padding: 0.5rem;
    font-weight: bold;

    >#name {
        font-size: 1.5rem;
    }
}

.offer,
.seat,
.code,
.ticket_cost {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    padding: 0.5rem 0;
}